// container
.ky-container{
  padding: $pdmd;
}
.ky-container-lg{
  padding: $pdlg;
}
.ky-container-sm{
  padding: $pdsm;
}
.ky-container-xs{
  padding: $pdxs;
}
// background
.ky-bg-f9{
  background-color: $colorbgf9;
}
